@use'../breakPoint.scss';
$radiusX: 650px; // X-axis radius of ellipse
$radiusY: 600px; // Y-axis radius of ellipse
$total: 5;

@mixin imageFlex () {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {

    &_hero {
        @include imageFlex();
        padding: 20px;
        width: clamp(300px, 50vw, 340px);
        height: clamp(250px, 50vh, 350px);
        // width: 339px;
        // height: 349px;
        // width: auto;
        // height: auto;
        // min-width: 300px;
        // min-height: 290px;
        // max-height: 350px;
        // max-width: 340px;
        justify-content: space-evenly;
        border-radius: 10px;
        background: #FCFAEE;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        h2 {
            color: #2C3333;
            font-size: 26px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        p {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            line-height: normal;
        }
    }

    &_service{
        @include imageFlex();
        // width: 412px;
        // height: 479px;
        border-radius: 25px;
        background: linear-gradient(152deg, #2C3333 40.06%, #849999 102.81%);
        box-shadow: 0px 6px 12px 5px rgba(0, 0, 0, 0.25);
        padding: 20px;
        text-align: center;
        justify-content: space-evenly;
        width: clamp(300px,50vw,400px);
        height: clamp(350px, 55vh, 450px);
        // max-width: 400px;
        // min-width: 200px;
        // width: auto;



    h2{
        color: #E16452;
        font-family: Montserrat;
        font-size: 36px;
        // font-size: clamp(1.5rem, 2vw, 2rem);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    
        @include breakPoint.between(300px,700px){
            font-size: 1.6rem;
        }
    }
    p{
        color: #CBE4DE;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 33px; 
        text-align: center;
        // font-size: clamp(1.3rem, 1vw, 2rem);
        @include breakPoint.between(300px,700px){
            font-size: 1.3em;
        }
    }

    }

    &_help{
        // width: 315px;
        // height: 200px;
        width: clamp(250px,30vw,300px);
        height: clamp(200px,20vh,250px);
        
        border-radius: 15px;
        background: #FCFAEE;
        box-shadow: 0px 0px 20.6px 0px rgba(0, 0, 0, 0.25);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        color: black;
        position: absolute;
        left: 50%;
        top: 50%;
        
// position: absolute;
// @for $i from 1 through $total {
//     $angle: ($i - 1) * calc(360deg / $total); // Spread evenly in ellipse
//     $rad: $angle * calc(3.14159265359 / 180); // Convert degrees to radians
//     $x: cos($rad) * $radiusX; // Calculate X position
//     $y: sin($rad) * $radiusY; // Calculate Y position
    
//     &:nth-child(#{$i}) {
//         transform: translate($x, $y);
    // }
// }


p{
    color: #000;
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;

}
    }

    &_carosel{
        // width: clamp(300px,30vw,350px);
        // height: clamp(270px,20vh,300px);
        max-width: 350px;
        min-width: 300px;
        height: auto;
        width: auto;
        min-height: 270px;
        max-height: 300px;
        border-radius: 15px;
        background: #FCFAEE;
        box-shadow: 0px 0px 20.6px 0px rgba(0, 0, 0, 0.25);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        color: black;
        // border: 1px solid;


        p{
            color: #000;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        
        }
    }


}