@mixin imageFlex () {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {

    &_hero {
        @include imageFlex();
        padding: 20px;
        width: 339px;
        height: 349px;
        justify-content: space-evenly;
        border-radius: 10px;
        background: #FCFAEE;

        h2 {
            color: #2C3333;
            font-size: 26px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        p {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &_service{
        @include imageFlex();
        width: 412px;
        height: 479px;
        border-radius: 25px;
        background: linear-gradient(152deg, #2C3333 40.06%, #849999 102.81%);
        box-shadow: 0px 6px 12px 5px rgba(0, 0, 0, 0.25);
        padding: 20px;
        text-align: center;
        justify-content: space-evenly;


    h2{
        color: #E16452;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    p{
        color: #CBE4DE;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 33px; 
    }

    }

    &_help{
        width: 315px;
        height: 200px;
border-radius: 15px;
background: #FCFAEE;
box-shadow: 0px 0px 20.6px 0px rgba(0, 0, 0, 0.25);
padding: 20px;


p{
    color: #000;
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;

}
    }


}