@use '../mixin.scss';
.nav-container {
       
        display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 25px 130px;
    background: linear-gradient(105deg, #2C3333 34.2%, #2E3535 59.7%, #7E8E8E 113.42%);
}

.nav-left {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    li {
        a{
            @include mixin.text-style();
            text-decoration: none;
            
        }
    }
}

