.footer-container{
    background: linear-gradient(96deg, #2C3333 26.8%, #849999 124.23%);
    width: 100%;
    min-height: 40vh;
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 25px;

    span{
        width: 618px;
    }
    .footer-side{
        width: 618px;
        color: #CBE4DE;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    aside{
        display: contents;
        width: 100%;
    
        h3{
            color: #CBE4DE;
font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;
        }
        span{
            width: 100%;
    text-align: center;
            color: #CBE4DE;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
        }
    }
}