@use'../scss/components/heroBanner';
@use'./breakPoint.scss';
.about-main{
    background: #FCFAEE;
    .about-first{
        padding:  clamp(10px, 5vw, 50px) clamp(5px, 5vw, 130px);
    }
    .about-second{
        width: 100%;
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
       padding:  clamp(10px, 5vw, 50px) clamp(5px, 5vw, 130px);
        >h2 {
            color: #2C3333;
            font-family: Montserrat;
            font-size: 64px;
            font-style: italic;
            font-weight: 900;
            line-height: normal;
        }
        >p{
            
                color: #2C3333;
                text-align: center;
                font-family: Montserrat;
                font-size: 20px;
                font-style: italic;
                // font-weight: 400;
                font-weight: 700;
                line-height: normal;
            
        }
    }
    .about-third{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: clamp(10px, 5vw, 50px) clamp(5px, 5vw, 130px);
        gap: 5%;
        @include breakPoint.between(300px,1000px){
            flex-direction: column-reverse;
        }
        >img {
            width: 50%;
            border-radius: 10px;
            @include breakPoint.between(300px,1000px){
                width: 100%;
            }
        }
        .third-container{
            width: 50%;
            gap: 2vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 5% 0;
            @include breakPoint.between(300px,1000px){
                width: 100%;
            }
           .third-title{
            
             color: #2C3333;
            font-family: Montserrat;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px; 
            
           }
           .third-span{
            font-weight: 600;
           }
           .third-para{
            color: #2C3333;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; 
           }
        }
    }
    .about-forth{
        padding:0px clamp(5px, 5vw, 130px);
        
       .about-subtitle{
             font-size: larger;
            font-weight: 600;
          color: #2C3333;
       }
       .about-list{
        color: #2C3333;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
       }
    }
}