@use'./components/navbar';
@use'../scss/layout/heroBanner';
@use'../scss/components/rightBanner';
@use'../scss/components/imageBlock';
@use'../scss/mixin.scss';
@use'../scss//layout/weHelp';
@use'../scss/layout/footer';
@use'./breakPoint.scss';
.home-main{
   
    .home-services{

        width: 100%;
        min-height: 100vh;
        height: auto;
        max-height: max-content;
        display: flex;
        flex-direction: column;
        justify-content:end ;
      

        opacity: 1.15;
        background: url('../assets/path-bg-service.svg') #FCFAEE 50% / cover no-repeat;
        @include breakPoint.between(300px,890px){
            min-height: 70vh;
            }
        @include breakPoint.between(891px,1300px){
            min-height: 160vh;
        }
        >h2{
            margin-bottom: 50px;
            color: #2C3333;
            font-size: 55px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;
        }
        .services-body{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            flex-wrap: wrap;
        }

    }

    .home-help{
        width: 100%;
        min-height:70vh;
        opacity: 1.15;
        background: url('../assets/home-spider.svg') #FCFAEE 50% / cover no-repeat;
        padding: 70px 0px;
    }

    .home-promises{
        width: 100%;
        min-height: 65vh;
        background: linear-gradient(96deg, #2C3333 28.49%, #778989 128.93%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        h2{
            @include mixin.headerText();
            width: 100%;
            text-align: center;
        }
        ul {
                display: flex;
                flex-direction: column;
                gap: 50px;
                width: 50%;
                align-items: center;
                list-style: none;
               
            
            li{
                display: flex;
                column-gap: 20px;
                align-items: baseline;
                justify-content: center;

                span{
                @include mixin.innerText();
                width: 80%;
                text-align: left;
                
                }
             img {
                margin-right: 30px;
             }  
            }
        } 
        span{
            color: #CBE4DE;
            text-align: center;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            width: 40%;
        }

    }
    .home-transfrom{
        background: #FCFAEE;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #2C3333;
font-family: Montserrat;
font-size: 52px;
font-style: normal;
font-weight: 900;
line-height: normal;

p{
    color: #2C3333;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
}
    }
}