@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-font: 'Montserrat', sans-serif;

    // Font Color
    --primary-font-color : #CBE4DE;
    --secondary-font-color : #2C3333;
    --third-font-color : #E16452;
    --Fourth-font-color :  #000000;

    // Font Weight
    --primary-font-weight : 900;
    --secondary-font-weight : 800;
    --third-font-weight : 700 ;
    --fourth-font-weight : 500;
    --regular-font-weight : 400

    // Background Gradiante
    
    --primary-bg-color: linear-gradient(103deg, #2C3333 41.38%, #7E8E8E 100.13%);
    --secondary-bg-color : #FCFAEE;

  }



